@model Subscribe

<form asp-action="SubscribePage" asp-controller="HomePage" method="post">
    <input asp-for="Email" placeholder="Enter your Email...">
    <button id="subscribe" >SUBSCRIBE</button>
</form>